
* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
    color: white;
    line-height: 6rem;
}
h3 {
    text-align: start;
    margin-top: 2rem;
    text-transform: uppercase;
}
body {
    width: 100% ;
    height: 100vh;
    background-color: #b91450 ;
    padding : 2% 7%;
    text-align: center;
}

label {
    display: block;
}
section {
    background-color: white;
    padding: 4rem;
    border-radius: 10px;
}
table {
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
}

table td {
    padding: 2rem 0;
}
/* main */

/* inserimento dati  */
.center {
    text-align: center;
}
.box {
    margin: 0 2rem;
    display: inline-block;
}
.zona-btn {
    margin-top: 2rem;
    
}
.zona-btn button {
    background-color: pink;
    border: 1 solid ;
    border-radius: 5px;
    color: #b91450;
    margin: 1rem;
    pad: 1rem;
}




/* elaborazione dati */
.reset-det {
    display: none;
}